<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Hi Dr. <%= doctor.first_name %>. </h1>
        <p>You have received a new appointment from <%= client.first_name %> <%= client.second_name %></p>
        <p>Please click on the following link to accept or reject the appointment.</p>
    </div>
</body>
</html>