<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Hi <%= client.first_name %>. </h1>
        <p>Your mental health report from Dr. <%= doctor.first_name %> has been generated. The report is attached in the attachement.</p>

    </div>
</body>
</html>